

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
    .animated {
        animation: anime 1.5s infinite ease-in-out alternate;

        &.links {
            height:500px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            padding: 0px 25px;
            .link {
                text-decoration: none;
                color: black;
                
                .btn {
                    padding: 1px;
                    font-weight: 500;
                    font-size: 30px;
                    font-style: italic;
                    cursor: pointer;
                }
                
                a {
                    text-decoration: none;
                    color: black
                }
            }
        }
    }
    
    
    

    .room {
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        

        #roomhidden {
                display: none;
        }

        .furniture {
            
            &.hidden {
                display: none;
            }
        }
    }
}

@keyframes anime {
    100% {
        transform: translateY(20px)
    }
}
