.introContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    #quest {
            position:absolute;
            right: 80vw;
            top: 70vh;
        }
    .house {
        justify-content: center;
        align-items: center;
    }
}
