.introContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    #quest {
            position:absolute;
            right: 80vw;
            top: 70vh;
        }
    .house {
        justify-content: center;
        align-items: center;
    }

    .virtualAssistant {
        position: absolute;
        width: 50vw;
        right:47vw;
        top: 70vh;
        display: flex;
        align-items: center;
        margin-left: 10vw;

        .dialogue {
            position: relative;
            width: 30vw;
        }

        

        #ghostly {
            width: 11vw;
            height: 26vh;
            cursor: pointer;
        }
    }
}
