.card {
    width: 15vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;

    &.animated {
        animation: anime 0.75s infinite ease-in-out alternate;
    }

    img {
        width: 20vw;
        overflow: hidden;
        position: absolute;
    }

    &:hover {
        cursor: pointer;
    }

    .refs {
        z-index: 5;
        position: relative;
        bottom: 55%;
    }
}

@keyframes anime {
    100% {
        transform: translateY(-10px)
    }
}