.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .link {
        text-decoration: none;
        color: black;
        animation: anime 1.5s infinite ease-in-out alternate;
        
        span {
            padding: 1px;
            font-weight: 500;
            font-size: 30px;
            font-style: italic;
            cursor: pointer;
        }
    }
}
