.navbar {
    color: white;
    font-size: 14px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;


    .container {
        padding: 0px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;

        .icons {
            display: flex;
            align-items: center;

            #github {
                height: 47px;
            }

            img {
                height: 35px;
                margin-right: 20px;
            }
            
            
        }
        span {
                cursor: pointer;
                color:black;
                font-size: 20px;
                font-style: italic;
                padding-right: 100px;
            }
    } 
}


